body{
	background-color:#dedfe0;
}
hr{
	border:solid #858586;
	border-width: 1px 0 0;
	clear: both;
	height: 0;
	margin: 1.25rem 0 1.1875rem; 
}
html,body {
  font-size: 80%; 
}

.row{
	background-color:#ffffff;
}